<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCiudadLabel" jhiTranslate="trievegoApp.ciudad.home.createOrEditLabel">Create or edit a Ciudad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ciudad.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ciudad.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trievegoApp.ciudad.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="ciudad.nombre" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trievegoApp.ciudad.provincia" for="field_provincia">Provincia</label>
            <select class="form-control" id="field_provincia" name="provincia" [(ngModel)]="ciudad.provincia" >
                <option [ngValue]="null"></option>
                <option [ngValue]="provinciaOption.id === ciudad.provincia?.id ? ciudad.provincia : provinciaOption" *ngFor="let provinciaOption of provincias; trackBy: trackProvinciaById">{{provinciaOption.nombre}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
