
<div *ngIf="evento">
    <h2><span jhiTranslate="trievegoApp.evento.detail.title">Evento</span> {{evento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trievegoApp.evento.nombre">Nombre</span></dt>
        <dd>
            <span>{{evento.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.resumen">Resumen</span></dt>
        <dd>
            <span>{{evento.resumen}}</span>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{evento.descripcion}}</span>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.precio">Precio</span></dt>
        <dd>
            <span>{{evento.precio}}</span>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.fechaHora">Fecha Hora</span></dt>
        <dd>
            <span>{{evento.fechaHora | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.direccion">Direccion</span></dt>
        <dd>
            <span>{{evento.direccion}}</span>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.imagen">Imagen</span></dt>
        <dd>
            <div *ngIf="evento.imagen">
                <a (click)="openFile(evento.imagenContentType, evento.imagen)">
                    <img [src]="'data:' + evento.imagenContentType + ';base64,' + evento.imagen" style="max-width: 100%;" alt="evento image"/>
                </a>
                {{evento.imagenContentType}}, {{byteSize(evento.imagen)}}
            </div>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.ciudad">Ciudad</span></dt>
        <dd>
            <div *ngIf="evento.ciudad">
                <a [routerLink]="['/ciudad', evento.ciudad?.id]">{{evento.ciudad?.nombre}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.categoria">Categoria</span></dt>
        <dd>
            <div *ngIf="evento.categoria">
                <a [routerLink]="['/categoria', evento.categoria?.id]">{{evento.categoria?.nombre}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.estado">Estado</span></dt>
        <dd>
            <div *ngIf="evento.estado">
                <a [routerLink]="['/estado', evento.estado?.id]">{{evento.estado?.nombre}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.user">User</span></dt>
        <dd>
            {{evento.user?.login}}
        </dd>
        <dt><span jhiTranslate="trievegoApp.evento.tag">Tag</span></dt>
        <dd>
            <span *ngFor="let tag of evento.tags; let last = last">
                <a [routerLink]="['/tag', tag?.id ]">{{tag.nombre}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'evento/'+ evento.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
