<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTagLabel" >Crear Tag</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tagusuario.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tagusuario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trievegoApp.tag.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="tagusuario.nombre" />
        </div>
        <!--div class="form-group">
            <label class="form-control-label" jhiTranslate="trievegoApp.tag.estado" for="field_estado">Estado</label>
            <input type="checkbox" class="form-control" name="estado" id="field_estado" [(ngModel)]="tags.estado" />
            <div *ngIf="tags.estado == true">
                    <input name="estado" ng-control="estado" id="field_estado" type="radio" [value]="false"  [(ngModel)]="tags.estado" > Deshabilitado<br/>
                    <input name="estado" ng-control="estado" id="field_estado" type="radio" [value]="true" [(ngModel)]="tags.estado" [checked]="true"> Habilitado<br/>
            </div>
            <div *ngIf="tags.estado == false">
                    <input name="estado" ng-control="estado" id="field_estado" type="radio" [value]="false"  [(ngModel)]="tags.estado" [checked]="true"> Deshabilitado<br/>
                    <input name="estado" ng-control="estado" id="field_estado" type="radio" [value]="true" [(ngModel)]="tags.estado"> Habilitado<br/>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="trievegoApp.tag.usuarios" for="field_usuarios">Usuarios</label>
            <select class="form-control" id="field_usuarios" multiple name="usuarios" [(ngModel)]="tags.usuarios">
                <option [ngValue]="getSelected(tags.usuarios, usuarioOption)" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
            </select>
        </div-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
